.header {
  background-color: var(--color-black);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 0;
  position: relative;
}

.header__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 78px;
}

.header__logo {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

.header__logo-icon {
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 13px;
  position: relative;
  flex-shrink: 0;
  padding: 7px;
  box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  &:before {
    content: "";
    width: 120%;
    height: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: conic-gradient(from 0deg, #c69155, #51a2ff, #00d692, #50a2ff, #ff8803, #c69155);
    animation: icon 3s linear infinite;
  }
}

@keyframes icon {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.header__icon-center {
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  position: relative;
  z-index: 1;
  border-radius: 8px;
}

.header__name {
  width: auto;
  font-weight: 300;
  font-size: 25px;
  text-align: center;
  color: var(--color-white);
  flex-shrink: 0;
}

.header__nav {
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;

    li {
      flex-shrink: 0;
    }
  }
}

.header__nav-link {
  font-weight: 400;
  font-size: 20px;
  color: var(--color-gray-light);
  position: relative;
  flex-shrink: 0;
  display: inline-block;

  &:before {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: var(--color-gray-light);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease;
  }

  &:hover {
    &:before {
      width: 100%;
    }
  }
}

.header__right {
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 45px;
}

.header__start-btn {
  border-radius: 6px;
  background-color: var(--color-white);
  font-weight: 500;
  font-size: 18px;
  color: #000;
  flex-shrink: 0;
  padding: 8px 10px;
  transition: 0.3s ease;

  &:hover {
    background-color: var(--color-gray-light);
  }
}

.menu__btn {
  display: none;
  width: 28px;
  height: 24px;
  position: relative;
  cursor: pointer;

  &.active {
    .burger__item-1 {
      transform: translate(-50%, -50%) rotate(-45deg);
      top: 50%;
      left: 50%;
    }
    .burger__item-2 {
      opacity: 0;
    }
    .burger__item-3 {
      transform: translate(-50%, -50%) rotate(45deg);
      bottom: auto;
      top: 50%;
      left: 50%;
    }
  }
}

.burger__item {
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background-color: var(--color-white);
  transition: 0.3s ease;
}

.burger__item-1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.burger__item-2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.burger__item-3 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.mobile__menu {
  width: auto;
  height: auto;
  position: absolute;
  top: 70px;
  right: 0;
  background-color: var(--color-header-bg);
  padding: 20px 30px 40px;
  border-radius: 11px;
  z-index: 100;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  pointer-events: none;

  &.active {
    transform: none;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.header__nav-top {
  margin-top: 20px;
}

@media (max-width: 1480px) {
  .header__left {
    gap: 50px;
  }
  .header__nav ul {
    gap: 50px;
  }
}

@media (max-width: 1280px) {
  .header__name {
    font-size: 22px;
  }
  .header__left {
    gap: 30px;
  }
  .header__nav ul {
    gap: 30px;
  }
  .header__right {
    gap: 30px;
  }
  .header__nav-link {
    font-size: 18px;
  }
}

@media (max-width: 1080px) {
  .header {
    background: transparent;
    padding-top: 13px;
  }
  .header__wrapper {
    background: var(--color-header-bg);
    padding: 9px 15px;
    border-radius: 11px;
  }

  .header__icon-center {
    background-color: var(--color-header-bg);
  }

  .header__nav {
    display: none;
  }
  .header__right a {
    display: none;
  }
  .menu__btn {
    display: block;
  }
  .header__nav-link {
    font-size: 20px;
  }
}

@media (max-width: 440px) {
  .header__logo-icon {
    width: 40px;
    height: 40px;
  }
  .header__name {
    font-size: 20px;
  }
}
