.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(60px);
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
  display: none;
}

.modal__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s ease;

  &.active {
    opacity: 1;
    transform: scale(1);
  }
}

.modal {
  width: 100%;
  max-width: 600px;
  position: relative;
  background-color: #000;
  border-radius: 16px;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:before,
  &:after {
    content: "";
    position: absolute;
    border-radius: 16px;
    top: -1px;
    left: -1px;
    background: linear-gradient(45deg, #3b82f6, #22c55e, #c9de09, #3b82f6);
    background-size: 400%;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    z-index: -1;
    animation: animate 20s linear infinite;
  }

  &:after {
    filter: blur(20px);
  }

  .radar__btn {
    width: 100%;
    max-width: 400px;

    div {
      width: 100%;
    }
  }
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;

  img {
    width: 16px;
  }
}

.modal__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.modal__text {
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #8d8d8d;
  margin-bottom: 20px;
}

.modal__info {
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #8d8d8d;
  margin-top: 20px;
}

@media (max-width: 620px) {
  .modal {
    max-width: calc(100% - 20px);
  }
}

@media (max-width: 440px) {
  .modal {
    border-radius: 5vw;
    padding: 10vw 6vw;
  }
  .modal:before,
  .modal:after {
    border-radius: 5vw;
  }
  .modal__title {
    font-size: 8vw;
    line-height: 1.2;
    margin-bottom: 4vw;
  }
  .modal__text {
    font-size: 4vw;
    margin-bottom: 4vw;
  }
  .modal .radar__btn div {
    font-size: 5vw;
  }
}
