:root {
    --font-family: "Inter", sans-serif;

    --color-black: #000;
    --color-white: #fff;
    --color-gray-light: #cdcdcd;
    --color-header-bg: #222;
    --color-text-alt: #b9b9b9;
    --color-blue: #020354;
    --color-white-700: rgba(255, 255, 255, 0.7);
    --color-radar-line: #333b4c;
}